
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://ychef.files.bbci.co.uk/1600x900/p0gjz5qc.webp"
    cardTitle="Six must-do things to do in HongKong"
    cardDescription="It's all about the location at the Ecuador's Mashpi Lodge. With just 2% of the Chocó Cloud Forest remaining, Ecuador's Mashpi Lodge brings a luxuriously innovative approach to its conservation by immersing guests in jungle adventures."
    ></app-big-card>
    <app-big-card
    Id="2"
    photoCover="https://hips.hearstapps.com/hmg-prod/images/gettyimages-1724506309-6523cceede444.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*"
    cardTitle="'Super-shoes', tumbling world records and the race for a sub two-hour official marathon."
    cardDescription="Nike surges ahead in the ‘war of the super shoes’ as Kiptum breaks marathon world record. he 23 year old Kenyan ran to victory in a pair of the Nike Dev 163 prototype – confirmed to be the new Nike Alphafly 3."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="3"
    photoCover="https://ichef.bbci.co.uk/news/976/cpsprodpb/12AE7/production/_131391567_a0d7774cf36604e62844797f531cec46308dc17c.jpg.webp"
    cardTitle="Climate change could make beer taste worse"
    ></app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://ichef.bbci.co.uk/news/976/cpsprodpb/B9C6/production/_131385574_gettyimages-469569148.jpg.webp"
    cardTitle="Clubs promoting NFTs pose 'risk' to fans, MPs warn"
    ></app-small-card>
    <app-small-card
    Id="5"
    photoCover="https://ychef.files.bbci.co.uk/1600x900/p0gjdtbf.webp"
    cardTitle="Financial anxiety: The alarming side effect of inflation"
    ></app-small-card>
    <app-small-card
    Id="6"
    photoCover="https://ichef.bbci.co.uk/news/976/cpsprodpb/2827/production/_118597201_getty_shouting.jpg.webp"
    cardTitle="Israel-Gaza violence: The conflict explained"
    ></app-small-card>
    <app-small-card
    Id="7"
    photoCover="https://ychef.files.bbci.co.uk/1600x900/p0g86v9m.webp"
    cardTitle="Why Aperol Spritz is the drink of the summer?"
    ></app-small-card>
  </div>
</div>

